* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*title*/
.title {
    border-bottom: 1px solid gray;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 80%;
}
/*draw*/
.draw {
    border-bottom: 1px solid black;
    height: 500px;
    margin: auto;
    position: relative;
    width: 90%;
}

.building {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    margin: auto;
    width: 30%;    
}

.building__windows {
    border: 1px solid gray;
    border-radius: 5px;
    height: 150px;
    margin: 10px;
    width: 70px;
    background-color: lightskyblue;
}

.building__windows--rgb {
    animation: rgbGndx 5s infinite ease-in;
}

.building__door {
    background-color: brown;
    border: 1px solid gray;
    height: 100px;
    margin: -85px auto 0 auto;
    position: relative;
    width: 100px;
}

.building__door::before {
    background-color: gray;
    border-radius: 50%;
    display: block;
    content: '';
    height: 20px;
    position: absolute;
    left: 75px;
    top: 40px;
    width: 20px;
}

.camera {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    height: 30px;
    position: relative;
    bottom: 100px;
    left: 800px;
    width: 50px;
}
.camera--animation {
    animation: cameraMove 5s infinite ease-in-out;
}

.camera__body {
    background-color: gray;
    border-radius: 5px;
    height: 100%;
    width: 50%;
}
.camera__lens {
    background-color: black;
    border-radius: 50%;
    height: 80%;
    width: 50%;
    position: absolute;
    left: 35px;
    top: 2px;
}
.camera::before {
    background-color: gray;
    display: block;
    content: '';
    height: 10px;
    position: absolute;
    top: 10px;
    left: -8px;
    width: 30px;
}

.person {
    height: 200px;
    position: relative;
    bottom: 240px;
    left:900px;
    width: 200px;
}

.head {
    background-color: red;
    border-radius: 50%;
    height: 80px;
    position: relative;
    margin: auto;
    width: 80px;
}
.eye__right, .eye__left {
    background-color: royalblue;
    border-radius: 50%;
    height: 20px;
    position: relative;
    margin: auto;
    width: 20px;
}
.eye__right {
    top: 20px;
    right: 25px;
}
.nose {
    background-color: royalblue;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
    height: 20px;
    position: relative;
    margin-bottom: 5px;
    left: 10px;
    width: 20px;
}
.mouth {
    background-color: royalblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10px;
    position: relative;
    left: 25px;
    width: 30px;
}
.body {
    background-color: red;
    height: 100px;
    margin: auto;
    width: 100px;
}
.arm__right, .arm__left {
    height: 50px;
    margin-right: 5px;
    position: absolute;
    transform: rotate(10deg);
    width: 20px;
}
.arm__left {
    background-color:  green;
    top: 100px;
    left: 30px;
}
.arm__right {
    background-color: green;
    top: 100px;
    left: 140px;
}

.leg__right, .leg__left {
    height: 40px;
    position: absolute;
    width: 20px;
}
.leg__left {
    left: 120px;
    background-color: indigo;
}
.leg__right {
    left: 60px;
    background-color: indigo;
}

@keyframes cameraMove {
    0% {
        transform: rotate(-15deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(15deg);
    }
} 

@keyframes rgbGndx {
    0% {
      background-color: red;
    }
    50% {
        background-color: green;
    }
    100% {
      background-color: blue;
    }
}

@keyframes visibility {
  0% {
      width: 0;
      transition: ease-in-out;
  }
  20% {
      width: 150px;
      transition: ease-in-out;
  }
  40% {
    width: 250px;
    transition: ease-in-out;
  }
  100% {
      width: 300px;
      transition: ease-in-out;
  }
}
@keyframes textVisible {
    0% {
        opacity: 1%;
        transition: ease-in-out;
    }
    50% {
        opacity: 50%;
        transition: ease-in-out;
    }
    75% {
        opacity: 75%;
        transition: ease-in-out;
    }
    100% {
        opacity: 100%;
        transition: ease-in-out;
    }
}

.sentence {
    height: 40px;
    position: absolute;
    top: 370px;
    left: 1000px;
    width: 300px;
    visibility: hidden;
}
.text__sentence{ 
    opacity: 0;
}

.text__sentence--animation {
    animation: textVisible 5s infinite ease-in-out;
}

.sentence--animation {
    visibility: visible;
    animation: visibility 5s infinite ease-in-out;
}
.audio {
    visibility: hidden;
}

.steps {
    height: 200px;
    position: absolute;
    bottom: 300px;
    left: 100px;
    list-style: none;
    width: 200px;
}